---
title:  Staff Roster
layout: default
---

<h1>Staff Roster</h1>

<nav>
    <ul>
        {% for team in site.data.staff %}
        <li><a href="#{{ team.slug }}">{{ team.name }}</a></li>
        {% endfor %}
    </ul>
</nav>

<ul class="teams">
{% for team in site.data.staff %}
    <li id="{{ team.slug }}">
    <h2>{{ team.name }}</h2>
    <ul class="staff-members">
    {% for member in team.members %}
        <li>
            <h3>{{ member.name }}</h3>
            <div class="links">
                {% if member.twitter %}
                    <a title="Follow {{ member.name }} on Twitter" class="twitter" href="https://twitter.com/{{ member.twitter }}" target="_blank"><i class="fa fa-twitter"></i> {{ member.twitter }}</a>
                {% endif %}
                {% if member.instagram %}
                    <a title="Follow {{ member.name }} on Instagram" class="instagram" href="https://instagram.com/{{ member.instagram }}" target="_blank"><i class="fa fa-instagram"></i> {{ member.instagram }}</a>
                {% endif %}
                {% if member.github %}
                    <a title="Follow {{ member.name }} on GitHub" class="github" href="https://github.com/{{ member.github }}" target="_blank"><i class="fa fa-github"></i> {{ member.github }}</a>
                {% endif %}
            </div>
            {% if member.google %}
                <div class="g-wrapper"><div class="g-person" data-width="180" data-height="260" data-href="//plus.google.com/u/0/{{ member.google }}" data-rel="author"></div></div>
            {% else %}
                <div class="g-wrapper missing"><div class="shrug">¯\_(ツ)_/¯</div></div>
            {% endif %}
        </li>
    {% endfor %}
    </ul>
    </li>
{% endfor %}
</ul>
